@model iSchoolWebApp.Models.AboutRootModel

@{
    ViewData["Title"] = @Model.pageTitle;
}
<h1 class="title">@Model.title</h1>
<section class="about">
    <p>@Model.description</p>
    <p>@Model.quote</p>
    <>--@Model.quoteAuthor--</>
</section>

