@model iSchoolWebApp.Models.OlderRootModel

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h1 class="title">Welcome to the iSchool!</h1>
    <h3>Today's News</h3>
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h5 class="subTitle">@Model.older[0].title</h5>
                <p>@Model.older[0].description</p>
            </div>

            @for(int i = 1; i < Model.older.Count; i++)
            {
                if (Model.older[i].description != null)
                {
                    <div class="carousel-item">
                        <h5 class="subTitle">@Model.older[i].title</h5>
                        <p>@Model.older[i].description</p>
                    </div>
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span>Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span>Next</span>
        </button>
    </div>
</main>

